<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-person"></i><span>Users</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="components-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="/admin/drivers">
            <i class="bi bi-circle"></i><span>Drivers</span>
          </a>
        </li>
        <li>
          <a href="/admin/otherUsers">
            <i class="bi bi-circle"></i><span>Others</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/users">
        <i class="bi bi-person"></i>
        <span>Users</span>
      </a>
    </li> -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/jobs">
        <i class="bi bi-card-list"></i>
        <span>Jobs</span>
      </a>
    </li>
  </ul>
</aside>
<!-- End Sidebar-->
